name: .NET WebAPI CICD Deploy

on:
  push:
    branches: ["master"]

env:
  IMAGE_NAME: myapp

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 8.0.x

    - name: Publish
      run: dotnet publish -c Release -o publish

    - name: cd
      run: cd WebAPI_CICD


    - name: Build Image
      run: docker build -t username/myapp:latest .

    - name: Push Image
      run: docker push username/${{ env.IMAGE_NAME }}:latest
      # 公开仓库可以不登录

  deploy:
    needs: build-and-push
    runs-on: ubuntu-latest

    steps:
    - name: Deploy via SSH
      uses: appleboy/ssh-action@v0.1.7
      with:
        host: ${{ secrets.DEPLOY_HOST }}
        username: ${{ secrets.DEPLOY_USER }}
        key: ${{ secrets.DEPLOY_KEY }}
        script: |
          docker pull username/myapp:latest
          docker stop myapp || true
          docker rm myapp || true
          docker run -d --name myapp -p 80:80 username/myapp:latest
